html, body {
  background: #F6F4EC;
}

body {
  color: #333;
  background: #F6F4EC;
}

h1 {
  font-family: Ubuntu, Calibri, Arial, sans-serif;
  font-size: 2.2em;
}

.title {
  background: transparent url("../images/logo.png") no-repeat right;
  background-size: contain;
}

#header {
	min-height: 0 !important;
	height: 30px;
}

#header {
	background: #D1CCB8;
	border: 0;
	border-radius: 0;
	padding: 0;
}

.nav > li > a {
	margin-left: .5em;
	padding: 5px 15px;
}

.login-modal {
  width: 600px;
  margin: 30px auto;
  font-size: 16px;
  line-height: 25px;
}

.navbar-brand {
	display: inline-block;
	float: none;
	vertical-align: top;
	margin: 0;
	width: 500px;
	height: 177px;
	background: url('kinto-logo.svg') no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	padding: 0;
}

.footer-links {
	padding: 15px;
}

.align-r {
	float: right;
}

.login-holder {
	text-align: center;
}

.login-holder div {
	text-align: left;
}

.btn {
	font-size: 30px;
}

pre {
    text-align: left;
}